.main-body {
  height: 100dvh;
  font-family: "Archivo Narrow", sans-serif;
  color: var(--color-tone-1);
  font-weight: 900;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 65px;
  font-size: 35px;
  border-bottom: 1px solid var(--color-tone-4);
}

h1 {
  height: min-content;
}

h2 {
  font-size: 28px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.center-board {
  width: 300px;
  height: 360px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keyboard {
  max-height: 198px;
  max-width: 484px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.remark {
  position: absolute;
  padding: 8px 12px;
  border-radius: 5px;
  color: var(--color-tone-7);
  background-color: var(--color-tone-1);
  top: -2%;
}
